.compareMovieInformation p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 100%;
    max-width: 600px;
}

.compareMovieInformation {
    margin-left: 100px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    display: flex;
    text-align: left;
    flex-direction: column;
    align-content: flex-start;
}

.movieInformationArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.trailers {
    display: flex;
    flex-direction: row;
    /* margin: 20px; */
    justify-content: center;
}

.trailer {
    margin: 50px;
} 

.compareMovieArea {
    margin-left: 100px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.compareVisualisationArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
