
.findSentimentLanding {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.findSentimentResults {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.findSentimentResults h3 {
    line-height: 100%;
    font-size: 55px;
}

.movieArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.findSentimentMovieDetails {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    display: flex;  
    flex-direction: column;
    align-content: flex-start;
}

.movieInformation {
    margin-left: 100px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    display: flex;
    text-align: left;
    flex-direction: column;
    align-content: flex-start;
}

.movieInformation p {
    font-size: 18px;
    line-height: 150%;
}

.movieTrailer {
    margin-top: 50px;
}

.visualisationArea {
    margin-top: 70px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
