h3 {
    line-height: 100%;
}

img {
    border : 2px solid rgba(255, 255, 255, .5);
    border-radius: 4px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 100%;
    max-width: 600px;
}

.findSentimentLanding {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.findSentimentResults {
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.movieArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.findSentimentMovieDetails {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    display: flex;  
    flex-direction: column;
    align-content: flex-start;
}

.movieInformation {
    margin-left: 100px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    display: flex;
    text-align: left;
    flex-direction: column;
    align-content: flex-start;
}

.movieTrailer {
    margin-top: 50px;
}

.visualisationArea {
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.visualisationSpacing {
    margin-left: 100px;
    margin-right: 100px;
}


