@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

nav {
    font-family: 'Lobster', cursive;
    font-size: 35px;
    display: flex;
    line-height: 100%;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgb(196, 30, 58);
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
.nav-Links {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    width: 50%;
    line-height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }